// Home specific styles
.section-notes {
  height: calc(100vh - 93px);
  overflow: scroll;
}

.section-display {
  height: calc(100vh - 133px);
  overflow: scroll;
}

.row>div {
  padding: 0px;
}

.row>div>.panel {
  margin-bottom: 0px;
  border-radius: 0px;
}